# ignore node_modules (in remote repo for github actions)
node_modules/

# ignore .obsidian folder
/content/notes/.obsidian/

# ignore /public, since Netlify generates a fresh build each time
/public

# ignore system files
.DS_Store
Thumbs.db
Icon
._*
localhost.crt
localhost.key
