# Ignore node_modules (in remote repo for Github actions)
node_modules/

# Ignore .obsidian folder
/content/notes/.obsidian/

# Ignore system files
.DS_Store
Thumbs.db
Icon
._*
localhost.crt
localhost.key
