<footer class="footer">
    <div class="top">
        <span><a href="{{ "" | absLangURL }}">Kwon.nyc</a> is made by me in Brooklyn</span>
        <span>&copy; {{ now.Year }} <a href="mailto:kwon%40fastmail.com">Rachel J. Kwon 권어진</a></span>
    </div>
    <div class="bottom-left">
        <span><a href="{{ "" | absLangURL }}colophon">Colophon</a></span>
        <span><a href="{{ "" | absLangURL }}notes/index.xml">RSS feed</a></span>
        <span><a href="https://github.com/rjkwon/blog">Source</a></span>
        <span><a href="mailto:kwon at fastmail.com">Email me</a></span>
    </div>
    <div class="bottom-right">
        <span><a rel="me" href="https://mastodon.social/@rjkwon">Mastodon</a></span>
        <span><a href="https://www.linkedin.com/in/rjkwon/">LinkedIn</a></span>
        <span><a href="https://www.last.fm/user/rjkwon">Last.fm</a></span>
        
    </div>   
</footer>

{{- if (not .Site.Params.disableScrollToTop) }}
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)">
    <button class="top-link" id="top-link" type="button" accesskey="g">☝️
    </button>
</a>
{{- end }}
{{- partial "extend_footer.html" . -}}
{{- $isHLJSdisabled := (.Site.Params.assets.disableHLJS | default .Params.disableHLJS ) }}
{{- if (and (eq .Kind "page") (ne .Layout "archives") (ne .Layout "search") (not $isHLJSdisabled)) }}
{{- if not .Site.Params.assets.disableFingerprinting }}
{{- $highlight := slice (resources.Get "js/highlight.min.js") | resources.Concat "assets/js/highlight.js" | minify | fingerprint }}
<script defer src="{{ $highlight.RelPermalink }}" integrity="{{ $highlight.Data.Integrity }}"
    onload="hljs.initHighlightingOnLoad();"></script>
{{- else}}
{{- $highlight := slice (resources.Get "js/highlight.min.js") | resources.Concat "assets/js/highlight.js" | minify }}
<script defer src="{{ $highlight.RelPermalink }}" onload="hljs.initHighlightingOnLoad();"></script>
{{- end}}
{{- end }}
<script>
    window.onload = function () {
        if (localStorage.getItem("menu-scroll-position")) {
            document.getElementById('menu').scrollLeft = localStorage.getItem("menu-scroll-position");
        }
    }

    function menu_on_scroll() {
        localStorage.setItem("menu-scroll-position", document.getElementById('menu').scrollLeft);
    }

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener("click", function (e) {
            e.preventDefault();
            var id = this.getAttribute("href").substr(1);
            if (!window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView({
                    behavior: "smooth"
                });
            } else {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView();
            }
            if (id === "top") {
                history.replaceState(null, null, " ");
            } else {
                history.pushState(null, null, `#${id}`);
            }
        });
    });

</script>

{{- if (not .Site.Params.disableScrollToTop) }}
<script>
    var mybutton = document.getElementById("top-link");
    window.onscroll = function () {
        if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = "1";
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = "0";
        }
    };

</script>
{{- end }}

{{- if (not .Site.Params.disableThemeToggle) }}
<script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
        if (document.body.className.includes("dark")) {
            document.body.classList.remove('dark');
            localStorage.setItem("pref-theme", 'light');
        } else {
            document.body.classList.add('dark');
            localStorage.setItem("pref-theme", 'dark');
        }
    })

</script>
{{- end }}


<!-- should be conditional for the zephyr page -->
<!-- <script>
    mapboxgl.accessToken = "pk.eyJ1Ijoicmprd29uIiwiYSI6ImNrbnB5aTg2NDA2ZXgyb21uZjh0ZmQ0aDEifQ.wcihEO5lNGrSgDcgtldHag";
    var map = new mapboxgl.Map({
        container: "map", // container ID
        // style: "mapbox://styles/rjkwon/ckranb3ha1tjk18lh6ysoifml", // your Mapbox style URL
        style: "mapbox://styles/rjkwon/cluc39fpj005001qlhqm6cm9m", // your Mapbox style URL
        // center: [-105.0029579, 39.75536983], // starting position [lng, lat]
        // zoom: 4.2 // starting zoom
        center: [-73.95407388, 40.75780936], // starting position [lng, lat]
        zoom: 10 // starting zoom
    });

    // Wait for the map to be fully loaded before adding the route and markers
    map.on('load', function () {
        // Fetch the route using the Directions API
        fetch('https://api.mapbox.com/directions/v5/mapbox/driving/-87.64032709%2C41.87883343%3B-90.36398135%2C40.94510264%3B-91.55068891%2C40.97159668%3B-95.92727316%2C41.25014755%3B-96.71406317%2C40.81629193%3B-105.0029579%2C39.75536983%3B-107.3232113%2C39.54820675%3B-108.5705199%2C39.06476587%3B-111.9084177%2C40.76203724%3B-119.8114929%2C39.52908755%3B-121.5001231%2C38.58447142%3B-122.2921041%2C37.8414264?alternatives=false&geometries=geojson&overview=full&steps=false&notifications=none&access_token=pk.eyJ1Ijoicmprd29uIiwiYSI6ImNrbnB5aTg2NDA2ZXgyb21uZjh0ZmQ0aDEifQ.wcihEO5lNGrSgDcgtldHag')
            .then(response => response.json())
            .then(data => {
                var route = data.routes[0].geometry;

                map.addSource('route', {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': route
                    }
                });

                map.addLayer({
                    'id': 'route',
                    'type': 'line',
                    'source': 'route',
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': 'blue',
                        'line-width': 4
                    }
                });

                // Define your marker data
                // var markers = [
                //     { coords: [-87.64032709, 41.87883343], label: 'Chicago Union Station' },
                //     { coords: [-90.36398135, 40.94510264], label: 'Galesburg, Illinois' },
                //     { coords: [-91.55068891, 40.97159668], label: 'Mount Pleasant, Iowa' },
                //     { coords: [-95.92727316, 41.25014755], label: 'Omaha, Nebraska' },
                //     { coords: [-96.71406317, 40.81629193], label: 'Lincoln, Nebraska' },
                //     { coords: [-105.0029579, 39.75536983], label: 'Denver, Colorado' },
                //     { coords: [-107.3232113, 39.54820675], label: 'Glenwood Springs, Colorado' },
                //     { coords: [-108.5705199, 39.06476587], label: 'Grand Junction, Colorado' },
                //     { coords: [-111.9084177, 40.76203724], label: 'Salt Lake City, Utah' },
                //     { coords: [-119.8114929, 39.52908755], label: 'Reno, Nevada' },
                //     { coords: [-121.5001231, 38.58447142], label: 'Sacramento, California' },
                //     { coords: [-122.2921041, 37.8414264], label: 'Emeryville, California' }
                // ];
                var markers = [
                    { coords: [-73.98706734, 40.69650870], label: 'Start' },
                    { coords: [-73.95259620, 40.73942705], label: 'Pulaski Bridge' },
                    { coords: [-73.92036700, 40.77260907], label: 'RFK Bridge' },
                    { coords: [-73.92253830, 40.79345545], label: 'Randalls Island' },
                    { coords: [-73.92945826, 40.80883082], label: 'Bronx' },
                    { coords: [-105.0029579, 39.75536983], label: 'Denver, Colorado' }
                ];


                // Loop through markers and add them to the map
                markers.forEach(function(marker) {
                    new mapboxgl.Marker()
                        .setLngLat(marker.coords)
                        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                        .setText(marker.label))
                        .addTo(map);
                });
            });
    });
</script>










 -->