<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
<!--
hi there you source-viewer you!
 _                                            
| |                                           
| | ____      _____  _ __    _ __  _   _  ___ 
| |/ /\ \ /\ / / _ \| '_ \  | '_ \| | | |/ __|
|   <  \ V  V / (_) | | | |_| | | | |_| | (__ 
|_|\_\  \_/\_/ \___/|_| |_(_)_| |_|\__, |\___|
 __________________________________ __/ | ____    
                                   |___/ 
https://github.com/rjkwon/blog
-->
<head>
    {{- partial "head.html" . }}
</head>

<body class="{{ .Type }}{{ if ne .Kind "page" }} list{{ end }}" id="top">

    {{- partialCached "header.html" . .Page}}
    <main class="main">
        {{- block "main" . }}
        {{- end }}
    </main>
    {{- partialCached "footer.html" . .Type .Layout .Params }}
</body>
</html>