body.internet {
    background-color: #ddf8f3;
}

body.internet h1,
body.internet h2,
body.internet h3 {
    font-family: "dico-mono", mono;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    color: #f118b4;
}

body.internet .main p {
    width: 75%;
    color: #333;
}

.link-table {
    margin: 3em 0;
    font-family: "dico-mono", mono;
    width: 100%;
    border-collapse: collapse;
}

.link-table th,
.link-table td {
    vertical-align: top;
    border-top: 0.5px dashed #333;
    padding: 0.6em 0.2em;
    font-size: 1.4em;
    margin-right: 1em;
    text-align: left;
}

.link-table th {
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-top: none;
}

.link-table th.article,
.link-table td.title {
    width: 40%;
}

.link-table th.author,
.link-table td.author {
    width: 25%;
}

.link-table th.date,
.link-table td.date {
    width: 17%;
}

.link-table td.title {
    padding-right: 0.6em;
}

.link-table td.title a,
.link-table td.author a {
    color: #333;
    text-decoration: none;
}

.link-table a:hover {
    text-decoration: underline;
}

.internet-page-footer {
    padding-bottom: 3em;
    font-size: 0.8em;
    text-align: right;
    color: #333;
}

.internet-page-footer img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.internet-page-footer a {
    color: #333;
}

/* mobile view --------------------- */
@media (max-width: 415px) {
    body.internet .main h1 {
        text-align: center;
    }

    body.internet .main p {
        width: 100%;
    }

    .link-table,
    .link-table tbody,
    .link-table tr {
        display: block;
        width: 100%;
    }

    .link-table thead {
        display: none;
    }

    .link-table td {
        display: block;
        padding: 0;
        margin: 0;
        border-top: none;
        line-height: 140%;
    }

    .link-table td.title,
    .link-table td.author,
    .link-table td.date {
        width: 100%;
    }

    .link-table td.title {
        border-top: 0.5px dashed #333;
        margin: 0.8em 0 0.1em;
        padding-top: 0.6em;
    }

    .link-table td.author,
    .link-table td.date {
        font-size: 1em;
        padding-top: 0.3em;
    }

    .link-table td.date.added {
        display: none !important;
    }
}
