body.internet {
    background-color: #ddf8f3;
}

body.internet h1,
body.internet h2,
body.internet h3 {
    font-family: "dico-mono", mono;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    color: #f118b4;
}

body.internet .main p {
    width: 75%;
    color: #333;
}

body.internet main a:hover {
    text-decoration: underline;
}

table {
    margin: 3em 0;
    font-family: "dico-mono", mono;
    width: 100%;
    border-collapse: collapse;
    overflow-x: visible;
}

th,
td {
    vertical-align: top;
    border-top: 0.5px dashed #333;
    padding: 0.6em 0.2em;
    font-size: 1.4em;
    margin-right: 1em;
    text-align: left;
    line-height: 1.3em;
}

th {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-top: none;
    position: sticky;
    top: 0;
    background-color: #ddf8f3;
}

th.article,
td.title {
    width: 40%;
}

th.author,
td.author {
    width: 25%;
}

th.date,
td.date {
    width: 17%;
}

td.title {
    padding-right: 0.6em;
}

td.title a,
td.author a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.puppy-sparkles {
    font-size: 0.8em;
    text-align: right;
    color: #333;
}

div.puppy-sparkles img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

div.puppy-sparkles a {
    color: #333;
}

div.puppy-sparkles img,
div.puppy-sparkles p {
    margin-left: auto;
}

/* dark mode --------------------- */
body.dark.internet {
    background-color: #0e2420;
}

body.dark.internet .main p {
    color: #ccc;
}

body.dark.internet th,
body.dark.internet td {
    border-top-color: #2a4a45;
    color: #ccc;
}

body.dark.internet th {
    background-color: #0e2420;
}

body.dark.internet td.title a,
body.dark.internet td.author a {
    color: #ccc;
}

body.dark.internet div.puppy-sparkles,
body.dark.internet div.puppy-sparkles a {
    color: #ccc;
}

@media (max-width: 415px) {
    body.dark.internet td.title {
        border-top-color: #2a4a45;
    }
}

/* mobile view --------------------- */
@media (max-width: 415px) {
    body.internet .main h1 {
        text-align: center;
    }

    body.internet .main p {
        width: 100%;
    }

    table,
    tbody,
    tr {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }

    td {
        display: block;
        padding: 0;
        margin: 0;
        border-top: none;
        line-height: 140%;
    }

    td.title,
    td.author,
    td.date {
        width: 100%;
    }

    td.title {
        border-top: 0.5px dashed #333;
        margin: 0.8em 0 0.1em;
        padding-top: 0.6em;
    }

    td.author,
    td.date {
        font-size: 1em;
        padding-top: 0.3em;
    }

    td.date.added {
        display: none !important;
    }
}
