*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: #e7f5f0;
    color: #222;
    font-family: "Fragment Mono", system-ui, -apple-system, BlinkMacSystemFont, monospace;
    line-height: 1.8;
}

.fragment-mono-regular {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.fragment-mono-regular-italic {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

main {
    padding: 3em;
}

.inner {
    max-width: 700px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

h1 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin: 2rem 0 1.5rem;
}

code {
    background-color: #D7DFDD;
    font-size: 0.8rem;
    padding: 5px;
}

.intro {
    margin: 0;
    font-size: 0.8rem;
}

.hero-figure {
    margin: 0;
    flex-shrink: 0;
    position: relative;
    top: 0;
    left: -4rem;
}

.hero-image {
    display: block;
    height: auto;
}

hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin: 2.5rem 0;
}

section.calendar {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    font-size: 0.9rem;
}

.calendar-month {
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 0.4em;
}

th, td {
  padding: 0.3em 0.5em;
  text-align: center;
  border-radius: 5px;
}

.day-label {
    font-weight: 500;
    text-align: center;
}

.day--active {
    background: #f39a4b;
    color: #fff;
}

section.goals, footer {
    font-size: 0.8em;
}

/* mobile */
@media (max-width: 800px) {
    main, .inner, header {
      width: 100%;
    }

    .hero-figure {
        display: none;
    }

    .calendar {
        flex-direction: column;
        align-items: flex-start;
    }
}