<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>This page intentionally left blank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="https://plausible.io/js/pa-rwnnT7tfiViXqMx3EG58n.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init()
    </script>
    <style>
      body {
        text-align: center;
        margin: 0 auto; 
        height: 100vh;
      }

      main {
        min-height: calc(100vh - var(--header-height, 80px)); 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-style: italic;
      }

      a {
        text-decoration: none;
        color: #000;
      }
    </style>
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>