<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
  	<link rel="icon" href="data:image/svg+xml,
  %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='.9em' font-size='90'%3E🍺%3C/text%3E%3C/svg%3E" type="image/svg+xml">
    <title>{{ if .IsHome }}{{else}}{{ if .Title }}{{ .Title }} &bull; {{ end }}{{end}}{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/css/cans.css">
    <script async src="https://plausible.io/js/pa-rwnnT7tfiViXqMx3EG58n.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init()
    </script>
</head>

<body>
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}
</body>

</html>