{{ define "main" }}
<div class="cans-grid">

  <div class="cans-explainer">
  	    <p>
      👈 <a href="/">Home</a>
    </p>
    <p>
      Ever notice how cute craft beer cans are these days? Me too. When I see an especially cute one, I snap a photo and add it here. Welcome to my OnlyCans. 
    </p>
    <p>
      Photo stream concept and design inspired by:
      <a href="https://coffee.youngjo.com/">coffee.youngjo.com</a>,
      <a href="https://spencer.place/fits">Spencer Chang's fits</a>,
      <a href="https://katieshootsfilm.wordpress.com/tag/as-seen-in-an-alleyway/">Katie Shoots Film</a>
    </p>
    <p>
      Some other streams I've since found, post hoc: <a href="https://nice.rocks/">nice.rocks</a>
    </p>

    
{{ $cans := .Site.Data.cans }}
{{ if gt (len $cans) 0 }}
  {{ $last := index $cans (sub (len $cans) 1) }}
  <p>
    <small>
      Last updated:
      {{ $last.takenAt | time.AsTime | time.Format "02 Jan 2006" }}
    </small>
  </p>
{{ end }}
    

  </div>

  {{ $page := . }}
  {{ $sortedAsc := sort .Site.Data.cans "takenAt" "asc" }}
  {{ $sorted := sort .Site.Data.cans "takenAt" "desc" }}

  {{ range $photo := $sorted }}
    {{ $index := 0 }}
    {{ range $i, $x := $sortedAsc }}
      {{ if eq $x.filename $photo.filename }}{{ $index = $i }}{{ end }}
    {{ end }}
    {{ $num := printf "%03d" (add $index 1) }}

    <div class="can-item">
      {{ with $page.Resources.GetMatch $photo.filename }}
        {{ $thumb := .Filter (slice images.AutoOrient (images.Process "fit 640x853 webp q75")) }}
        <img src="{{ $thumb.RelPermalink }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" alt="{{ $photo.alt }}" title="{{ $photo.takenAt }}" loading="lazy">
      {{ end }}
      <span>{{ $num }}</span>
    </div>
  {{ end }}

</div>
{{ end }}