{{- define "main" }}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- $pages := union .RegularPages .Pages }}

{{- $pages = where site.RegularPages "Type" "notes" }}

{{ range first 1 $pages }}
    <article class="snippet">
      <header>
          <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
          <div class="post-meta">
            {{- partial "post_meta.html" . -}}
          </div>
      </header>
        <div class="post-summary">{{ .Summary }}{{ if .Truncated }}...
          <p><a href="{{ .RelPermalink }}">Keep reading</a></p>
        {{ end }} 
        </div>
    </article>
{{ end }}
  

<div class="sidebar">

  <div class="movies">
    <h2>📺 Recently viewed</h2>

 <script>
    fetch('https://letterboxd.com/kwon/rss/')
        .then(response => response.text())
        .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
        .then(data => {
            const items = data.querySelectorAll("item");
            let html = `<ul>`;
            items.forEach(el => {
                let title = el.querySelector("title").textContent;
                let link = el.querySelector("link").textContent;
                html += `<li><a href="${link}" target="_blank">${title}</a></li>`;
            });
            html += `</ul>`;
            document.getElementById("letterboxd-feed").innerHTML = html;
        });
</script> 

    <div class="more"><a href="https://letterboxd.com/kwon/">More at Letterboxd</a></div>
  </div>

  <div class="books">
    <h2>📖 Currently reading </h2>
    <div id="literal-widget">
{{ $js := resources.Get "js/literal.js" | minify | fingerprint }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    </div>
   <div class="more"><a href="https://literal.club/kwon">More at Literal</a></div>
  <br style="clear: all;" />
  </div>

<div class="pinboard">
    <h2>Meanwhile, on the internet...</h2>
{{ $js := resources.Get "js/links.js" | minify | fingerprint }}
<script src="{{ $js.Permalink }}"></script>
<ul id="linkroll"></ul>
<!--     {{ $links := site.Data.links.links }}
    <ul id="linkroll">
        {{ range first 9 $links }}
        <li class="pinboard_link">
            <a href="{{ .url }}" target="_blank">{{ .title }}</a>
            {{ if .description }}
            <span class="pinboard_desc">{{ .description }}</span>
            {{ end }}
        </li>
        {{ end }}
    </ul> -->
    <div class="more"><a href="/links">More links</a></div>
</div>


</div>




{{- end }}{{- /* end main */ -}}
